<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAPL.Properties.Settings.Constr" connectionString="Data Source=106.14.160.201;Initial Catalog=Paper2017;Persist Security Info=True;User ID=sa;Password=3281528zqs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>